<div class="login-container text-c animated flipInX">
    <div>
        <!-- <h1 class="logo-badge text-whitesmoke"><span class="fas fa-user-circle"></span></h1> -->
        <img src="/dist/img/logo_login.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">        
    </div>
    <h3 class="text-whitesmoke pt-3 pb-5">Smart Feedlot</h3>
    <div class="container-content">
        <form action="/login" method="post" class="margin-t">
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="*****">
            </div>
            <button type="submit" class="form-button button-l margin-b">Iniciar Sesión</button>
        </form>
        
    </div>
</div>
